.appContainer {
  max-width: 900px;
  margin: 3rem auto 5rem;
}

.postItemInfo {
  display: flex;
  margin-top: 1.5rem;
  color: var(--info);

  div {
    display: flex;
    justify-content: center;

    svg {
      color: var(--info);
    }
    span {
      margin-left: 0.6875rem;
    }
  }

  div:not(:first-child) {
    margin-left: 1.5rem;
  }
}
